* {
    margin: 0px;
    padding: 2px;
}

body{
    display: flex;
    justify-content: center;

}

.left-player-container, .right-player-container {
    padding: 30px;
    background-color: rgb(10, 110, 197);
    border: 2px solid purple;
}

.left-player-board, .right-player-board{
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: aquamarine;
    text-align: center;
    
}
